<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - Nouvelle campagne</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="ml-2 button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
            <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
        </div>
    </div>

    <h1 class="title is-1 has-text-centered mt-5">Nouvelle campagne</h1>

    <form action="#" th:action="@{/campaign/new}" th:object="${campaign}" method="post">
        <p> Nom de la campagne : <input class="input" type="text" th:field="*{name}"> </p>

        <input class="button is-success" type="submit" value="Créer">
    </form>

</body>
</html>