<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - Campaign</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="ml-2 button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
            <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
        </div>
    </div>

    <h1 class="title is-1 has-text-centered mt-5" th:text="${campaign.getName()}"></h1>

    <h2 class="title is-2 mt-6">Les questions de la campagne.</h2>

    <div class="container mt-3">
        <div class="is-flex mt-2" th:each="question:${questions}">
            <button class="button is-info" th:attr="onclick=|window.location.replace('/answer/${question.id}')|">Voir les réponses</button>
            <div class="is-size-4 ml-2" th:text="${question.sentence}"></div>
            <label>
                <input class="mt-3 ml-2" type="checkbox" th:checked="${question.allowNeutral}"
                       th:id="${'allow_neutral_'+question.id}"
                       th:attr="onchange=|changeNeutrality(${question.id},'allow_neutral_${question.id}')|">
                Autoriser neutralité
            </label>
        </div>
        <form class="mt-3" action="#" th:action="@{/question/new}" th:object="${form}" method="post">
            <input type="hidden" th:value="*{campaignId}" th:field="*{campaignId}">
            <input class="input" type="text" th:field="*{sentence}">

            <input class="button is-success mt-2" type="submit" value="Ajouter">
        </form>
    </div>

    <script>
        function changeNeutrality(questionId,checkId){
            let xhr = new XMLHttpRequest();
            xhr.open("POST","/question/update-neutral/",true);
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            let data = {"questionId":questionId,"allowNeutral":document.getElementById(checkId).checked};
            xhr.send(JSON.stringify(data));
        }
    </script>

</body>
</html>