<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>

<h1>New Campaign</h1>

<form action="#" th:action="@{/question/new}" th:object="${form}" method="post">
    <p>Intitulée de la question :</p>
    <textarea type="text" th:field="*{sentence}"></textarea>

    <br>

    <select th:field="*{campaignId}">
        <option th:each="c: ${form.campaigns}" th:value="${c.id}" th:text="${c.name}">
        </option>
    </select>

    <br>

    <input type="submit" value="Ajouter">
</form>

</body>
</html>