<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Idea - Réponses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="ml-2 button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
            <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
        </div>
    </div>

    <h1 class="title is-1 mt-5 has-text-centered" th:text="${question.sentence}"></h1>
    <div id="answers-container" class="has-text-centered mt-6">
        <span class="is-size-2 card p-2 mr-2" th:each="occurrence: ${occurrences}">
            <span th:text="${occurrence.key}"></span> :
            <span th:text="${occurrence.value}"></span>
        </span>
        <p class="is-size-4" th:if="${occurrences.isEmpty()}">Il n'y a eu aucune réponse pour le moment.</p>
    </div>
</body>
</html>