<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - New App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="ml-2 button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
            <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
        </div>
    </div>

    <h1 class="title is-1 mt-5 has-text-centered">Nouvelle application</h1>

    <form action="#" th:action="@{/app/new}" th:object="${form}" method="post">
        <p> Nom de l'app : <input class="input" type="text" th:field="*{name}"> </p>

        <div class="select mt-2">
            <select th:field="*{campaignChoisie}">
                <option th:value="0"></option>
                <option th:each="c: ${form.mesCampagnes}" th:value="${c.id}" th:text="${c.name}">
                </option>
            </select>
        </div>

        <br>

        <input class="button is-success mt-2" type="submit" value="Créer">
    </form>

</body>
</html>