<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
            <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
        </div>
    </div>

    <h1 class="mt-5 title is-1 has-text-centered">IdeaBox</h1>

    <div class="content ml-5 mr-5">
        <p class="is-size-3">Comment utiliser IdeaBox ?</p>
        <p>Rien de plus simple, ajoutez ces balises a la fin de votre document.</p>
        <pre class="card is-one-third">
&lt;div id="ideabox-container"&gt;&lt;/div&gt;
&lt;script&gt;
    var container = document.getElementById("ideabox-container");
    var req = new Request("http://ideabox.oups.net/api/&lt;TOKEN&gt;/getQuestion");

    fetch(req).then(function(reponse) {
      return reponse.body();
    }).then(function(reponse) {
      var question = response;
      container.innerHTML = question;
    });
&lt;/script&gt;</pre>
        <p>A vous après de personnaliser l'affichage !</p>
    </div>
</body>
</html>