<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div class="has-text-left" th:if="!${session.user}">
        <button class="button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
        <button class="ml-2 button is-info" onclick="window.location.replace('/user/signup');">Inscription</button>
    </div>

    <div class="has-text-left" th:if="${session.user}">
        <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
    </div>

    <h1 class="mt-5 title is-1 has-text-centered">IdeaBox</h1>
    <ul th:if="${users}">
        <li th:each="user : ${users}" th:text="${user.pseudo}"></li>
    </ul>
    <ul th:if="${session.user}">
        <li th:text="${user.getLastName()}"></li>
        <li th:text="${user.getFirstName}"></li>
        <li th:text="${user.getPseudo()}"></li>
        <li th:text="${user.getEmail()}"></li>
    </ul>
</body>
</html>