<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - Log In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

    <h1 class="title is-1">Log in</h1>

    <p th:if="${erreur}" class="has-text-danger">Vos informations sont érronées.</p>


    <form action="#" th:if="!${session.user}" th:action="@{/user/login}" th:object="${loginForm}" method="post">
        <p> Username : <input type="text" th:field="*{pseudo}"> </p>
        <p> Password : <input type="password" th:field="*{password}"> </p>

        <input type="submit" value="Sign in">
    </form>

    <p th:if="${session.user}"> Vous êtes déjà connecté.</p>

</body>
</html>