<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <h1 class="title is-1">Votre profil</h1>

    <h2 class="title is-2">Vos Applications</h2>

    <div id="apps_container">
        <div class="container card mt-3" th:each="app:${apps}">
            <div th:text="${app.name}"></div>
            <div th:text="${app.token}"></div>
            <div th:text="${app.campaign.name}"></div>
        </div>
    </div>

    <h2 class="title is-2">Vos Campagnes</h2>

    <div id="campaigns_container">
        <div class="container mt-3" th:each="campaign:${campaigns}">
            <div th:text="${campaign.name}"></div>
        </div>
    </div>

</body>
</html>