<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBox - Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="p-2">

    <div>
        <div th:if="${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="button is-warning" onclick="window.location.replace('/user/profile')">Mon profil</button>
            <button class="button is-danger" onclick="window.location.replace('/user/disconnect');">Déconnexion</button>
        </div>
        <div th:if="!${session.user}">
            <button class="button is-link" onclick="window.location.replace('/')">Accueil</button>
            <button class="ml-2 button is-success" onclick="window.location.replace('/user/login');">Connexion</button>
        </div>
    </div>

    <h1 class="title is-1 has-text-centered mt-5">Sign Up</h1>

    <form action="#" th:if="!${session.user}" th:action="@{/user/signup}" th:object="${signupForm}" method="post">
        <p> Username : <input class="input" type="text" th:field="${signupForm.pseudo}"> </p>
        <p> First Name : <input class="input" type="text" th:field="${signupForm.firstName}"> </p>
        <p> Last Name : <input class="input" type="text" th:field="${signupForm.lastName}"> </p>
        <p> Password : <input class="input" type="password" th:field="${signupForm.password}"> </p>
        <p> Confirm password : <input class="input" type="password" th:field="${signupForm.confirmPassword}"> </p>
        <p> Email : <input class="input" type="text" th:field="${signupForm.email}"> </p>

        <input class="button is-success mt-2" type="submit" value="Sign up">
    </form>

    <p th:if="${session.user}"> Vous êtes déjà connecté.</p>

</body>
</html>